/* fonts */
@font-face {
  font-family: 'Stencil';
  src: url('../fonts/Stencil.woff2') format('woff2'),
    url('../fonts/Stencil.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YuGothic';
  src: url('../fonts/YuGothic-Bold.woff2') format('woff2'),
    url('../fonts/YuGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YuGothic';
  src: url('../fonts/YuGothic.woff2'),
    url('../fonts/YuGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* base */
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  line-height: 1;
  font-family: 'YuGothic';
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  color: currentColor;
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

label {
  cursor: pointer;
  user-select: none;
}

textarea {
  resize: vertical;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

input[placeholder] {
  text-overflow: ellipsis;
  white-space: nowrap;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.container {
  width: 1360px;
  max-width: 1360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

a {
  font-family: 'YuGothic';
}

@media screen and (max-width: 1220px) {
  .container {
    width: 100%;
  }
}

.menu {
  font-weight: 500;
  font-size: 20px;
}

/* .header {
  padding: 28.5px 0;
  background: url(../img/hat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
} */

.header {
  padding: 28.5px 0;
  background: linear-gradient(270deg, #FFFFFF -5.04%, rgba(0, 125, 139, 0.09) 111.05%);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  width: 148px;
  height: 18px;
  margin-right: 130px;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -38px;
}

.menu__li {
  padding: 0 38px;
}

.menu__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #121212;
  text-decoration: none;
  transition: color 0.3s;
}

.menu__link.active {
  color: #007D8B;
}

.menu__link:hover {
  color: #007D8B;
}

.header__search {
  display: block;
  width: 23px;
  height: 23px;
  overflow: hidden;
  margin-left: auto;
}

.block2__list {
  display: flex;
  flex-direction: column;
  margin: -5px;
  justify-content: center;
  align-items: center;
}

.block2__li {
  padding: 5px;
  display: flex;
}

.block2__card {
  width: 200px;
  height: 200px;
  background-color: green;
}

.block2__card--w100 {
  width: 100px;
  height: 100px;
}

.block2__card--w50 {
  width: 50px;
  height: 50px;
}

.block2__li--flex-start {
  align-self: flex-end;
}

.block2__li--flex-end {
  align-self: flex-start;
}

.block2__card--flex1 {
  flex: 1;
}

.mainpage {
  min-height: 992px;
  background: url(../img/Component1.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 816px 951px;
  padding-top: 223px;
}

.mainpage__text {
  width: 451px;
}

.mainpage__header {
  font-family: Stencil;
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 16px;
}

.mainpage__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.mainpage__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  width: 354px;
  color: #B3B3B3;
  margin-bottom: 80px;
}

.button {
  background: #007D8B;
  justify-content: center;
  border-radius: 30px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 15px;
  align-items: center;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #25254ee8;
}

.mainpage__shop-pointer {
  width: 28px;
  height: 23px;
}

.mainpage__shop-link-text {
  margin-right: 16px;
}

.mainpage__text--accent {
  color: #007D8B;
}

.sale {
  min-height: 832px;
  background: #006C79;
  margin-bottom: 63px;
}

.sale__picture {
  min-height: 832px;
  background-size: 972px auto;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-decoration: none;
}

.sale__shop-pointer {
  width: 28px;
  height: 23px;
}

.button--light-grey {
  background: #86868999;
  border-radius: 30px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 15px;
  align-items: center;
  transition: background-color 0.5s;
}

.sale__shop-button {
  padding-top: 617px;
}

.button--light-grey:hover {
  background-color: #25254ee8;
}

.sale__shop-link-text {
  margin-right: 16px;
}

.popular__header {
  height: 100%;
}

.popular__header-text {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  font-family: Stencil;
  font-weight: 400;
  font-size: 48px;
}

.popular {
  margin-bottom: 136px;
}

.popular__categories-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -12px;
}

.popular__categories-li {
  flex: 1;
  padding: 12px;
}

.popular__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  border: 1px solid #007D8B;
  border-radius: 30px;
  padding: 15px 20px;
  transition: color 0.4s;
}

.popular__link:hover {
  color: #007D8B;
}

.popular__categories {
  margin-bottom: 67px;
}

.popular__title {
  font-weight: 700;
  font-size: 36px;
  color: #121212;
  margin-bottom: 68px;
}

.popular__new-menu {
  display: flex;
  flex-direction: row;
  margin: 0 -12.5px;
}

.product-card {
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: cover;
  text-decoration: none;
  width: 577px;
  height: 516px;
}

.product-card-text {
  font-family: Stencil;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: white;
  width: 270px;
  transition: font-size 0.4s;
}

.product-card:hover .product-card-text {
  font-size: 39px;
}

.popular__new-li {
  padding: 0 12.5px;
}

.weekly {
  margin-bottom: 185px;
}

.weekly__headline {
  display: flex;
  font-family: Stencil;
  font-size: 48px;
  justify-content: center;
  margin-bottom: 109px;
}

.weekly__picture-and-description {
  display: flex;
  flex-wrap: wrap;
}

.weekly__picture-text:hover {
  font-size: 39px;
}

.weekly__widgets {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.weekly__widgets-li {
  padding: 20px;
  flex: 1;
}

.weekly__widgets-text {
  font-weight: 700;
  font-size: 28px;
}

.weekly__colour {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}

.weekly__colour-li {
  padding: 6px;
  margin-bottom: -9px;
}

.weekly__size {
  display: flex;
  flex-wrap: wrap;
  margin: -3.5px;
}

.weekly__size-li {
  padding: 3.5px;
}

.weekly__size-digit {
  font-size: 24px;
  border: 1px solid #007D8B;
  border-radius: 50%;
  color: #007D8B;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.weekly__size-digit--mod {
  background-color: #007D8B;
  color: white;
}

.weekly__reviews {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}

.weekly__reviews-li {
  padding: 6px;
}

.weekly__counter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  margin: 0 -7px;
  width: 144px;
}

.weekly__counter-wrapper {
  border: 1px solid #007D8B;
  border-radius: 30px;
  display: inline-block;
}

.weekly__counter-li {
  padding: 0 7px;
}

.weekly__description {
  padding-left: 46px;
  flex: 1;
}

.weekly__description-model {
  font-size: 36px;
  font-weight: 700;
}

.weekly__description-price {
  font-size: 36px;
  font-weight: 700;
  margin: 34px 0;
  color: #007D8B;
}

.heart-empty {
  fill: none;
  stroke: #BEBEBE;
}

.weekly__shoe-perspective {
  display: flex;
  margin: -16px;
}

.weekly__shoe-perspective-li {
  padding: 16px;
}

.weekly__shoe-perspective-wrapper {
  margin-bottom: 18px;
}

.weekly__shoe-perspective-photo {
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: cover;
  text-decoration: none;
  width: 141px;
  height: 143px;
}

.weekly__btn {
  font-size: 15px;
  width: 296px;
}

.weekly__widgets-color-text-wrapper {
  margin-bottom: 21px;
}

.weekly__widgets-size-text-wrapper {
  margin-bottom: 21px;
}

.weekly__widgets-reviews-text-wrapper {
  margin-bottom: 33px;
}

.weekly__colour-wrapper {
  margin-bottom: 10px;
}

.weekly__size-wrapper {
  margin-bottom: 10px;
}

.subscription {
  background-color: #007D8B;
  padding: 200px 0;
}

.subscription__header {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.subscription__header-text {
  font-size: 48px;
  font-family: Stencil;
  font-weight: 400;
  color: white;
}

.subscription__button {
  display: flex;
  justify-content: center;
}

.subscription__button-text {
  font-family: Stencil;
  font-size: 20px;
  font-weight: 400;
  color: #007D8B;
  margin-right: 2px;
}

.button__sub {
  background-color: white;
  transition: background-color 0.5s;
}

.button__sub:hover {
  background-color: #a7e8e8;
}

.subscription__pointer {
  width: 27px;
  height: 17px;
}

.footer {
  background-color: #f6835f;
  padding-top: 98px;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 76px;
  padding-bottom: 106px;
  border-top: 3px solid white;
  margin: -20px -78px;
}

.footer__menu-li {
  padding: 20px 78px;
}

.footer__header {
  margin: -23px;
}

.footer-li {
  padding: 23px;
}

.footer__header-svg {
  margin: -12.5px;
}

.footer-li-svg {
  padding: 12.5px;
}

.footer__header-text-wrapper-svg {
  margin-bottom: 29px;
}

.footer__header-text {
  font-weight: 700;
  font-size: 36px;
  color: white;
}

.footer__header-text-wrapper {
  margin-bottom: 38px;
}

.footer__link {
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #a7e8e8;
}

.footer__socials {
  display: block;
  font-size: 47px;
  color: #F8F8F8;
  transition: color 0.3s;
}

.footer__socials:hover {
  color: #a7e8e8;
}

.footer__privacy-wrapper {
  padding: 30.5px 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) -48.09%, rgba(255, 255, 255, 0.6) 108.71%);
}

.footer__privacy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -10px -21px;
}

.footer__privacy-link {
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__privacy-link:hover {
  color: #a7e8e8;
}

.footer__privacy-li {
  padding: 10px 21px;
}

.weekly__reviews-button {
  font-size: 26px;
}

.weekly__colour-button {
  font-size: 44px;
}

.icon {
  width: 1em;
  height: 1em;
}